attrs==20.3.0
autopep8==1.5.4
aws-encryption-sdk==2.0.0
aws-sam-translator==1.34.0
aws-xray-sdk==2.6.0
bleach==3.1.5
boto==2.49.0
boto3==1.16.63
botocore==1.19.63
certifi==2020.6.20
cffi==1.14.4
cfn-lint==0.44.5
chardet==3.0.4
colorama==0.4.3
cryptography==3.3.1
decorator==4.4.2
docker==4.4.1
docutils==0.16
dynamodb-encryption-sdk==1.2.0
ecdsa==0.14.1
flake8==3.8.4
future==0.18.2
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
jmespath==0.10.0
jsondiff==1.2.0
jsonpatch==1.28
jsonpickle==1.5.1
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
keyring==21.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
mock==4.0.3
more-itertools==8.6.0
moto==1.3.16
networkx==2.5
packaging==20.4
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
python-dateutil==2.8.1
python-jose==3.2.0
pytz==2020.5
PyYAML==5.4.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
responses==0.12.1
rfc3986==1.4.0
rsa==4.7
s3transfer==0.3.4
six==1.15.0
sshpubkeys==3.3.0
toml==0.10.2
tqdm==4.48.2
twine==3.2.0
urllib3==1.25.10
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.4.0
