name: ci

on:
  push:
    branches:    
      - main 
  pull_request:
    branches:    
      - main  

jobs:
  build:
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            architecture: x64
          - os: windows-latest
            architecture: x64
          - os: macos-latest
            architecture: x64
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.platform.architecture }}
      - run: |
          python -m pip install --upgrade pip
          pip install --upgrade -r ci-requirements.txt
      - name: run test
        run: tox -- -vv